
<tr>
    <td>${dni}</td>
    <td>${nombre_usuario}</td>
    <td>${nombre}</td>
    <td>${apellido}</td>
    <td>${cargo}</td>
    <td>S/${salario}</td>
    <td>${direccion}</td>
    <td>${celular}</td>
    <td>${fecha_contrato}</td>
    <td>
        <button
                class="btn btn-success"
                onclick="toggleStatus(this)"
        >
            ${estado}
        </button>
    </td>
    <td>
        <a href="#"
        ><button class="btn btn-warning">
            <i class="bi bi-pencil"></i></button
        ></a>
        <a href="#"
        ><button class="btn btn-danger">
            <i class="bi bi-trash"></i></button
        ></a>
    </td>
</tr>