<tr>
    <td style="padding: 8px; text-align: center; vertical-align: middle; border-bottom: 1px solid #ddd;">${id_servicio}</td>
    <td style="padding: 8px; text-align: center; vertical-align: middle; border-bottom: 1px solid #ddd;">${nombre}</td>
    <td style="padding: 8px; text-align: center; vertical-align: middle; border-bottom: 1px solid #ddd;">${descripcion}</td>
    <td style="padding: 8px; text-align: center; vertical-align: middle; border-bottom: 1px solid #ddd;">${precio}</td>

    <td style="padding: 8px; text-align: center; vertical-align: middle; border-bottom: 1px solid #ddd;">
        <img
                width="100px"
                style="
                            border-radius: 5%;
                            margin: 0 auto;
                            display: block;
                          "
                src="upload/${foto}"
                alt="Imagen"
        />
    </td>
    <td style="padding: 8px; text-align: center; vertical-align: middle; border-bottom: 1px solid #ddd;">
        <a href="#"
        ><button style="margin-right: 4px;" class="btn btn-warning">
            <i class="bi bi-pencil" style="font-size: 1rem;"></i></button
        ></a>
        <a href="#"
        ><button style="margin-right: 4px;"  class="btn btn-danger">
            <i class="bi bi-trash" style="font-size: 1rem;"></i></button
        ></a>
    </td>
</tr>
